body{
    margin: 10px;
    padding: 10px;
    width: fit-content;
  
}

.fullName, .Email{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* margin: 2em; */
    align-items: center;
    row-gap: 10px;
    /* width: 800px; */
}

.fullName{
  width: 500px;
}

.Name{
   width: 900px;
}

.Email{
  width: 900px;
}

form sup{
    /* background-color: red; */
 color: red;
}

.forred sup{
    color: red;
}

.form-check{

  text-align: center;
}

.table1-body{
  padding: 5px;
}
.tbody-content{
  padding: 5px;
}

td{
  width:80px;
  padding: 10px;
}

th{
  width: 80px;
}

.th1{
  text-align: center;
}

.th2{
  width: 100px;
}
/* span>star{
width: 20px;
height: 20pxpx;
} */